body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1522410818928-5522dacd5066?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

#color-palette {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

button {
  border: none;
  color: rgb(0, 0, 0);
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.color {
  margin: 5px;
  border-radius: 50%;
  border: 2px solid white !important;
  width: 50px;
  height: 50px;
}

input {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
}

#pixel-board {
  margin: auto;
  width: 210px;
  display: flex;
  flex-wrap: wrap;
  border-style: outset;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
