.game-page {
  text-align: center;
}

.game-page h1 {
  background-color: gainsboro;
}

.game-page button {
  margin: 5px 2px;
  min-width: 20%;
}

.active-button-div {
  margin: 20px;
}

.active-button-div button {
  width: 81%;
}
